body {background-image:url(fondo2.jpg);}

#principal {margin-left: 6.1%;
    margin-right: 6.1%;
     width: 1194px;

}



#menu {background-color:white;
margin-left: 6.1%;
 
    height: 48px;
    width: 1163px;
    padding-left:7px; 
    padding-right:5px ;
 
    
}

#menu a {text-decoration: none;
    font-size: 39px;
    padding: 3px 45px;
color: red;}

menu a:hover , #menu a:active {background:#000;
    color:red;}

#menu a:hover {
  text-decoration: none;
  background-color:black;
  color: #FFF;
}



#link {margin-left: 6.1%;
    margin-right: 6.1%;
}

#link p {font-size: 10px;}
/********************************************************************************************************/



#titulo { 
    margin-left: 6.1%;
    margin-right: 6.1%;
    width: 1175px;
    height: 60px;
}

#titulo p {text-align: center;
    font-size: 60px;
    color: red;}


#contenedor {margin-left: 6.1%;
    margin-right: 6.1%;

    width: 1175px;
height:935px;}

#primero {float: left;
width: 547px;
height: 400px;
    padding-top: 70px;}

#segundo {float: left;
    width: 585px;
    height: 470px;
     padding-left: 31px;
}


#segundo p {font-size: 21px;
    line-height: 35px;
    padding-top: 40px;
   
 }
    

#tercero {float: left;
    width: 546px;
    height: 462px;
    padding-top:62px;
}

#cuarto {
    float: left;
    width: 615px;
    height: 525px;
    
}
#cuarto p {font-size: 21px;
    line-height: 35px;
    padding-left: 36px;
   
 }

.www {font-size: 15px;}

#barra {background:gray;
height: 30px;}

#barra {color: white}

#barra p {text-align: center;}


















